<div class="container">

  <div class="row">

    <div class="col-xs-12">
      <h2><%= @restaurant.name %></h2>
    </div>

  </div>


  <div class="row">

    <div class="col-xs-4">
      <p>Category:</p>
    </div>
    <div class="col-xs-8">
      <p><%= @restaurant.category %></p>
    </div>

  </div>

  <div class="row">

    <div class="col-xs-4">
      <p>Location:</p>
    </div>
    <div class="col-xs-8">
      <p><%= @restaurant.address %></p>
    </div>

  </div>

  <div class="row">

    <div class="col-xs-4">
      <p>Phone number:</p>
    </div>
    <div class="col-xs-8">
      <p><%= @restaurant.phone_number %></p>
    </div>

  </div>

  <div class="row">

    <div class="col-xs-4">
      <p>Average rating:</p>
    </div>
    <div class="col-xs-8">
      <p><%= @restaurant.reviews.reduce(0){|sum, r| sum + r.rating} / @restaurant.reviews.length.to_f %></p>
    </div>

  </div>

  <div class="row">
    <h3>(<%= @restaurant.reviews.length %> reviews)</h3>
  </div>

  <% @restaurant.reviews.each do |review| %>
    <div class="row">

      <div class="col-xs-4">
        <% 5.times do |i| %>
          <% if i <= review.rating %>
            <i class="fa fa-star" aria-hidden="true"></i>
          <% else %>
            <i class="fa fa-star-o" aria-hidden="true"></i>
         <% end %>
       <% end %>
      </div>

      <div class="col-xs-8">
        <p><em><%= review.content %></em></p>
      </div>
    </div>
  <% end %>


  <div class="row">
    <h3>Leave a review</h3>
    <%= render 'reviews/form' %>
  </div>


  <div class="row">
    <%= link_to "View all restaurants", restaurants_path, class: "btn btn-primary"%>
  </div>


</div>
