<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <h2><%= @restaurant.name %></h2>
    </div>
  </div>

    <div class="row">
    <div class="col-xs-12">
      <p><em>(<%= @restaurant.category %>)</em></p>
    </div>
  </div>


  <div class="row">

    <div class="col-xs-4">
      <% average_rating = @restaurant.reviews.reduce(0){|sum, r| sum + r.rating} / @restaurant.reviews.length.to_f %>
      <% 1.upto(5) do |i| %>
        <% if i <= average_rating %>
          <i class="fa fa-star" aria-hidden="true"></i>
        <% elsif (i-1..i).include? average_rating  %>
          <i class="fa fa-star-half-o" aria-hidden="true"></i>
        <% else %>
          <i class="fa fa-star-o" aria-hidden="true"></i>
       <% end %>
      <% end %>
    </div>

  </div>

  <br>

  <div class="row">

    <div class="col-xs-4">
      <p>Location:</p>
    </div>
    <div class="col-xs-8">
      <p><%= @restaurant.address %></p>
    </div>

  </div>

  <div class="row">

    <div class="col-xs-4">
      <p>Phone number:</p>
    </div>
    <div class="col-xs-8">
      <p><%= @restaurant.phone_number %></p>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>(<%= @restaurant.reviews.length %> reviews)</h4>
    </div>
  </div>

  <% @restaurant.reviews.each do |review| %>
    <div class="row">

      <div class="col-xs-4">
        <% 1.upto(5) do |i| %>
          <% if i <= review.rating %>
            <i class="fa fa-star" aria-hidden="true"></i>
          <% else %>
            <i class="fa fa-star-o" aria-hidden="true"></i>
         <% end %>
       <% end %>
      </div>

      <div class="col-xs-8">
        <p><em><%= review.content %></em></p>
      </div>
    </div>
  <% end %>

  <br>

  <div class="row">
    <div class="col-xs-12">
      <h4>Leave a review</h4>
      <%= render 'reviews/form' %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12">
      <%= link_to "View all restaurants", restaurants_path, class: "btn btn-primary"%>
    </div>
  </div>


</div>
